footer{
    margin: 0px;
    padding: 0px;
    background: rgba(52, 58, 64, 0.96);
    /* background: #343a40!important; */
}

footer .containerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    color: #ffffff;
    /* width: 100%;
    height: 100px; */
}


.footerClassText{
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.red-soc{
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.red-soc a{
    color: #ffffff;
    text-decoration: none;
}

