//-----------------------------------
//          PATRONES DE COLORES
//-----------------------------------

$texto: #050505;
$principal: #ff401c;
$secundario: rgb(72, 192, 122);
$color-azul-oscuro: #002e5e;
$color-azul: #245d88;
$color-azul-claro: #0c8ce8;
$color-verde: #4bceb4;
$color-gris: #808080;
$opacity-blue: rgba(231, 235, 239, 0.35);
$linkedin-color: #01b8f4;
$whatsapp-color: #25d366;
$cv-color: #a364bd;

//-----------------------------------
//          Sobre-escribiendo los estilos de Bootstrap
//-----------------------------------
.bg-primary {
	background-color: $principal !important;
}
.bg-secondary {
	background-color: $secundario !important;
}

.bg- {
	background-color: $principal !important;
}

.text-primary {
	color: $principal !important;
}

.btn-primary {
	background-color: $principal !important;
	border-color: darken($principal, 20%) !important;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: darken($principal, 10%) !important;
}
.btn-primary:active {
	background-color: darken($principal, 20%) !important;
	border-color: darken($principal, 30%) !important;
}
.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba($principal, .5) !important;
}
//-----------------------------------
//          configuration del HTML
//-----------------------------------
html {
	font-size: 13px;
}

body {
	color: $texto;
	font-family: 'Open Sans', sans-serif;
}
.card:hover {
	box-shadow: 0 0 10px #0c0c0c3b;
}
hr {
	border-top: 1px solid $color-verde;
	// border-radius: 4em;
	height: 0px;
	text-align: center;
	margin-top: 0;
	min-width: 15rem;
}

// bady{
//     height: 800px;
// }

//-----------------------------------
//          configuration Tech-Skills
//-----------------------------------

#my-skills {
	background-color: $opacity-blue;
	// background-color: red;
	.info-tech-skills {
		//   align-items: center;
		//   display: flex;
		//   flex-direction: column;
		//   h3{
		// 	color: #000;
		//   }
		hr {
			// min-width: 20rem;
			// min-width: 130px;
		}
	}

	// .tech-skills-box{
	//   text-align: center;
	// }

	.icon-tech-skill{
		display: inline-block;
		height: 6em;
		width: 6em;
		margin: .8em .8em 1em;
		position: relative;
		img {
			box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.19);
			height: 100%;
			width: 100%;
		}
		p {
			color: $texto;
			display: contents;
			text-transform: capitalize;
			font-weight: bold;
			position: absolute;
		}
		figcaption {
			background-color: rgba(0, 0, 0, 0.320);
			color: #fff;
			font-size: .9rem;
			font-weight: 100;
			height: 100%;
			text-align: center;
			top: 0;
			transition: all .20s ease;
			opacity: 0;
			position: absolute;
			visibility: hidden;
			width: 100%;
		}
	}
	.icon-tech-skill:hover > figcaption {
		font-weight: 500;
		opacity: 5;
		visibility: visible;
		width: 100%;
	}
	.icon-tech-skill:hover > p {
		visibility: hidden;
	}

	.tech-skills-box{
		p{
			color: $texto;
			display: contents;
			text-transform: capitalize;
			font-weight: bold;
			position: absolute;
		}
	}

}

//-----------------------------------
//          configuration Progress-Bar
//-----------------------------------

.skill-bars li{
	margin-bottom: .8rem;
	// width: 100%; 
	// height: 12px;
	// margin-bottom: .1rem;
	// padding: 0;
 	// position: relative;
}

//-----------------------------------
//          configuration Infor-Contact
//-----------------------------------

#my-contact-info {
    background-color: $opacity-blue;
    padding: 2em 0;
    .container-contact-title{
        align-items: center;
        display: flex;
        flex-direction: column;
        hr {
            // min-width: 460px;
          }
    }
    .container-info-contact{
        padding: 1em;
        border-radius: 2px;
        border-right: 1px solid $color-verde;
        border-left: 1px solid $color-verde;
        .container-red-soc{
            margin: 1em 0;
            display: flex;
            justify-content: space-evenly;
            div{
                align-items: center;
                border-radius: 50%;    
                display: flex;  
                flex-direction: column;
                justify-content: center;
                height: 4em;  
                padding: 1em;
                width: 4em;
            }
            .github-icon {
                border: 2px solid $color-gris;
                i {
                  color: $color-gris;
                }
            }
            .linkedin-icon {
                border: 2px solid $linkedin-color;
                i {
                  color: $linkedin-color;
                }
            }
            .cv-icon {
                border: 2px solid $cv-color;
                padding: 1.2em;
                i {
                  color: $cv-color;
                }
            }
        
        }
        .container-red-soc div:hover{
            height: 5em;
            width: 5em;
            transition: all .30s ease;
        }
    }
}



//-----------------------------------
//          configuration Footer
//-----------------------------------

#made-by{
    margin: 0px;
    padding: 0px;
    background: rgba(52, 58, 64, 0.96);
    /* background: #343a40!important; */
    color: #ffffff;
    text-decoration: none;
    .footer-made-by{
        text-align: center;
        font-size: 1rem;
        padding: 5px;
    }
}

//-----------------------------------
//          configuration media-Queries
//-----------------------------------
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

// @media (min-width: 576px) {
// 	#my-skills .icon-tech-skill {
// 		display: inline-block;
// 	}
// }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	// SKILLS
	#my-skills {
		.icon-tech-skill {
			margin: 0.8em 2em 2em;
			height: 6.5em;
			width: 6.5em;
		}
	}
}

// .section>*{
//     border: 1px solid red;
// }
